

body {
  padding: 0;
  margin: 0;
  font: 16px;
  background-color: #f9f6f4;
}

.hero {
  padding: 50px 100px;
  background: linear-gradient(to bottom right, #2c1d38, rgb(4, 1, 24));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .title {
  min-width: 500px;
  text-align: center;
  color: #fff;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  padding: 19px;
  font-size: 14px;
  height: 40px;
  flex: 1;
  border: none;
}

.search button {
  height: 40px;
  padding: 12px;
  border: none;
  background-color: aquamarine;
  cursor: pointer;
  min-width: 120px;
  text-align: center;
}

.body {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80px;
}

.movie {
  padding: 100px 20px;
  width: 350px;
  height: 200px;
  background-color: #8a1;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.movie h2 {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  padding: 4px;
  background: rgba(225,100,100,0.5);
  color: #fff;
}

.movie p {
  height: 100%;
  color: azure;
  background: rgba(222, 222, 222, 0.5);
  width: 100%;
  font-size: 20px;
  opacity: 0;
}

.movie:hover p{
  opacity: 1;
}